NODE_ENV=development
PORT=3001
HOST=0.0.0.0
LOG_LEVEL=info

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/marketplace_api?schema=public"

SUPABASE_URL="https://seu-projeto.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="sua-service-role-key"
